.hll {
  background-color: #e6e1dc; }

.c {
  color: #bc9458;
  font-style: italic; }

/* Comment */
.err {
  color: #ffc66d; }

/* Error */
.k {
  color: #cc7833; }

/* Keyword */
.n {
  color: white; }

/* Name */
.o {
  color: white; }

/* Operator */
.p {
  color: white; }

/* Punctuation */
.cm {
  color: #bc9458;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #bc9458;
  font-style: italic; }

/* Comment.Preproc */
.c1 {
  color: #bc9458;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #bc9458;
  font-style: italic; }

/* Comment.Special */
.kc {
  color: #cc7833; }

/* Keyword.Constant */
.kd {
  color: #cc7833; }

/* Keyword.Declaration */
.kn {
  color: #cc7833; }

/* Keyword.Namespace */
.kp {
  color: #cc7833; }

/* Keyword.Pseudo */
.kr {
  color: #da4939; }

/* Keyword.Reserved */
.kt {
  color: #5a647e; }

/* Keyword.Type */
.m {
  color: #a5c261; }

/* Literal.Number */
.s {
  color: #a5c261; }

/* Literal.String */
.na {
  color: #da4939; }

/* Name.Attribute */
.nb {
  color: #6d9cbe; }

/* Name.Builtin */
.nc {
  color: #ffc66d; }

/* Name.Class */
.no {
  color: #6d9cbe; }

/* Name.Constant */
.nd {
  color: #da4939; }

/* Name.Decorator */
.ni {
  color: white; }

/* Name.Entity */
.ne {
  color: white; }

/* Name.Exception */
.nf {
  color: #ffc66d; }

/* Name.Function */
.nl {
  color: white; }

/* Name.Label */
.nn {
  color: white; }

/* Name.Namespace */
.nx {
  color: white; }

/* Name.Other */
.py {
  color: white; }

/* Name.Property */
.nt {
  color: #e8bf6a; }

/* Name.Tag */
.nv {
  color: white; }

/* Name.Variable */
.ow {
  color: #cc7833; }

/* Operator.Word */
.w {
  color: white; }

/* Text.Whitespace */
.mf {
  color: #a5c261; }

/* Literal.Number.Float */
.mh {
  color: #a5c261; }

/* Literal.Number.Hex */
.mi {
  color: #a5c261; }

/* Literal.Number.Integer */
.mo {
  color: #a5c261; }

/* Literal.Number.Oct */
.sb {
  color: #a5c261; }

/* Literal.String.Backtick */
.sc {
  color: #a5c261; }

/* Literal.String.Char */
.sd {
  color: #a5c261; }

/* Literal.String.Doc */
.s2 {
  color: #a5c261; }

/* Literal.String.Double */
.se {
  color: #da4939; }

/* Literal.String.Escape */
.sh {
  color: #a5c261; }

/* Literal.String.Heredoc */
.si {
  color: #a5c261; }

/* Literal.String.Interpol */
.sx {
  color: #a5c261; }

/* Literal.String.Other */
.sr {
  color: #a5c261; }

/* Literal.String.Regex */
.s1 {
  color: #a5c261; }

/* Literal.String.Single */
.ss {
  color: #a5c261; }

/* Literal.String.Symbol */
.bp {
  color: white; }

/* Name.Builtin.Pseudo */
.vc {
  color: white; }

/* Name.Variable.Class */
.vg {
  color: white; }

/* Name.Variable.Global */
.vi {
  color: white; }

/* Name.Variable.Instance */
.il {
  color: #a5c261; }

/* Literal.Number.Integer.Long */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

body, input, select, textarea, button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  -webkit-tap-highlight-color: #3E454C; }

::-moz-selection {
  background: #3E454C;
  color: #fff; }

::selection {
  background: #3E454C;
  color: #fff; }

img {
  -ms-interpolation-mode: bicubic; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

/* Clearfix: */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .group {
  height: 1%; }

*:first-child + html .group {
  min-height: 1px; }

/* End clearfix */
/* End reset + base */
body {
  background: #3a4249 url("img/bg.png") fixed;
  color: #fff;
  font-size: 14px;
  line-height: 21px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #7e8386;
  text-decoration: none;
  transition: border-color 120ms linear;
  -webkit-transition: border-color 120ms linear;
  -moz-transition: border-color 120ms linear;
  -o-transition: border-color 120ms linear;
  -ms-transition: border-color 120ms linear;
  position: relative; }
  a:hover {
    border-bottom-color: transparent; }
  a:active {
    top: 1px; }

section#main {
  width: 660px;
  padding-top: 80px;
  margin: 0 auto; }
  section#main aside {
    position: fixed;
    width: 140px;
    text-align: right; }
    section#main aside h6 {
      font-size: 24px; }
      section#main aside h6 a {
        border: 0; }
    section#main aside nav ul {
      list-style: none;
      margin-top: 21px; }
      section#main aside nav ul.meta {
        margin-top: 24px; }
  section#main div#articles {
    margin-left: 180px;
    width: 480px;
    margin-top: 3px; }
    section#main div#articles article {
      margin-bottom: 84px; }
      section#main div#articles article h1 {
        font-size: 17px; }
        section#main div#articles article h1 a.permalink {
          border: 0;
          color: #626f7a;
          transition: color 120ms linear;
          -webkit-transition: color 120ms linear;
          -moz-transition: color 120ms linear;
          -o-transition: color 120ms linear;
          -ms-transition: color 120ms linear;
          vertical-align: -2px;
          display: inline-block;
          margin-left: 9px; }
          section#main div#articles article h1 a.permalink:hover {
            color: #fff; }
      section#main div#articles article div.content p {
        margin-top: 21px; }
      section#main div#articles article div.content pre {
        background: rgba(0, 0, 0, 0.3);
        margin: 15px 0 -6px;
        padding: 6px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        white-space: pre-wrap; }
        section#main div#articles article div.content pre code {
          padding: 0;
          background: transparent; }
      section#main div#articles article div.content code {
        font-family: "Inconsolata", monospace;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        padding: 2px 3px; }
