@import "mixins.scss";
@import "railscasts.scss";

* { margin: 0; padding: 0; border: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }

body, input, select, textarea, button { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

a { -webkit-tap-highlight-color: #3E454C; }

::-moz-selection { background: #3E454C; color: #fff; }
::selection { background: #3E454C; color: #fff; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: 600; }
em { font-style: italic; }

/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; } //IE6
*:first-child+html .group { min-height: 1px; } //IE7
/* End clearfix */
/* End reset + base */

body { background: #3A4249 url("img/bg.png") fixed; color: #fff; font-size: 14px; line-height: 21px; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; }
a {
	color: #fff; font-weight: 600; border-bottom: 1px solid #7E8386; text-decoration: none; @include transition(border-color 120ms linear); position: relative;

	&:hover { border-bottom-color: transparent; }
	&:active { top: 1px; }
}

section#main {
	width: 660px; padding-top: 80px; margin: 0 auto;

	aside {
		position: fixed; width: 140px; text-align: right;

		h6 {
			font-size: 24px;

			a { border: 0; }
		}

		nav {
			ul {
				list-style: none; margin-top: 21px;

				&.meta { margin-top: 24px; }
			}
		}
	}

	div#articles {
		margin-left: 180px; width: 480px; margin-top: 3px;

		article {
			margin-bottom: 84px;

			h1 {
				font-size: 17px;

				a.permalink {
					border: 0; color: #626f7a; @include transition(color 120ms linear); vertical-align: -2px; display: inline-block; margin-left: 9px;

					&:hover { color: #fff; }
				}
			}

			div.content {
				p { margin-top: 21px; }
				pre {
					background: rgba(0, 0, 0, 0.3); margin: 15px 0 -6px; padding: 6px; @include border-radius(2px); white-space: pre-wrap;

					code { padding: 0; background: transparent; }
				}
				code { font-family: "Inconsolata", monospace; background: rgba(0, 0, 0, 0.3); @include border-radius(2px); padding: 2px 3px; }
			}
		}
	}
}